@import '~bootstrap/dist/css/bootstrap.min.css';

.mesmo-tamanho {
  width: 50%;
  white-space: normal;
}

.btn-xl {
  padding: 10px 30px;
  font-size: 30px;
  border-radius: 10px;
}

img {
  max-width: 100%;
}
