@import '~bootstrap/dist/css/bootstrap.min.css';

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

#centro-carousel {
  width: 500px;
  height: 200px;
  position: absolute;
  /*top:82%;*/
  left: 50%;
  /* margin-top:-40px; */
  margin-left: -250px;
}

#title-esq {
  position: absolute;
  left: 40%;
}
