<div>
<h1 class="text-center">
  Detalhes de Perfil
</h1>
  <br>
<div class="row">
  <div class="col-6" style="float: right;">
    <img border="0" alt="Foto_prefil" src="{{user.foto}}" height="250" style="float: right; max-width: 100%;">
  </div>

  <div class="col-6">
    <table class="table">
      <tr>
        <td><b class="colorB">Nome:</b> {{user.nome}}</td>
      </tr>
      <tr>
        <td><b class="colorB">Idade:</b> {{user.idade}}</td>
      </tr>
      <tr>
        <td><b class="colorB">Localidade:</b> {{user.localidade}}</td>
      </tr>
      <tr>
        <td><b class="colorB">Email:</b> {{user.email}}</td>
      </tr>
      <tr>
        <td><b class="colorB">Genero:</b> {{user.genero}}</td>
      </tr>
      <tr>
        <td><b class="colorB">Horas de Jogo:</b> {{user.totalPontos}}</td>
      </tr>
    </table>
  </div>
</div>
</div>

<br>
<br>
<br>
<br>

<div class="container" id="centro-carousel">
  <h1 class="text-center">Os meus jogos</h1>
  <br>
  <div>
    <carousel>
      <div *ngFor="let proc of progressos">
        <slide>
          <a href="/jogo/{{proc.jogo.id}}">
            <img src="{{proc.jogo.foto}}" alt="first slide" style="width: 100%;">
          </a>
        </slide>
      </div>
    </carousel>
  </div>

</div>


