
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
        <!-- meter o filtro-->
        <app-sidebar
          [filtros]="filtros"
          (aplicarFiltro) = "handleMyEvent($event)" >
        </app-sidebar>
    </div>

    <div class="col-sm-9">

      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div class="panel panel-primary">
              <div class="panel-heading"> <!-- {{jogos[paginaAtual][0].descricao}}> --> ola</div>
              <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="panel panel-primary">
              <div class="panel-heading">ola mundo2</div>
              <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="panel panel-primary">
              <div class="panel-heading">ola mundo3</div>
              <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
            </div>
          </div>
        </div>
      </div><br>

      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div class="panel panel-primary">
              <div class="panel-heading">BLACK FRIDAY DEAL</div>
              <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="panel panel-primary">
              <div class="panel-heading">BLACK FRIDAY DEAL</div>
              <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="panel panel-primary">
              <div class="panel-heading">BLACK FRIDAY DEAL</div>
              <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
            </div>
          </div>
        </div>
      </div><br><br>
    </div>
  </div>
</div>

