<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
        <!-- meter o filtro-->
        <app-sidebar
          [filtros]="filtros"
          (aplicarFiltro) = "handleMyEvent($event)" >
        </app-sidebar>
    </div>

    <div class="col-sm-9"  *ngIf ="pag">

      <div >
        <div class="container" *ngFor="let index of [0,1] ">
          <div class="row"  >

            <div class="col-sm-3 d-sm-inline-flex">
              <div class="panel panel-primary " *ngFor="let jogo of pag.content.slice(3 * index , 3 * (index+1) )">
                <div class="panel-heading">
                  <a routerLink="/jogo/{{jogo.id}}"> {{jogo.nome}}  </a>
                </div>
                <div class="panel-body"><img src={{jogo.foto}} class="img-responsive" style="width: 100%" alt="Image"></div>
              </div>
            </div>
          </div>

        </div><br>
        <br><br>

        <div class="row">
          <button *ngIf = "!pag.first" (click)="retrocedePag()"> Anterior </button>
          <h1> {{ pag.number + 1 }} </h1>
          <button *ngIf = "!pag.last" (click)="avancaPag()"> Proxima </button>
        </div>

      </div>
    </div>
  </div>
</div>
